#app_admin{
.wrapper_button_prod{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    button{
        margin: 10px;
    }
}
    .table{
        a{
            text-decoration: none;
        }
        .del_prod{
            background: none;
            border: none;
            color: var(--bs-link-hover-color);
        }
    }

}
