// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    background-color: white;
}
.navbar{
    .container{
        font-size: 16px;
        .navbar-brand{
            img{
                width: 150px;
            }
        }
    }
}
.wrapper_goods{
    .goods{
        width: 170px;
        .wishlist_icon{
            display: block;
            text-align: end;
        }
        img{
            height: 200px;
        }
        .price{
            font-size: 18px;
            display: block;
            margin-top: 10px;
        }
        .title{
            font-size: 14px;
        }
    }
}


