// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'admin';

body{
    position: relative;
    min-height: 100%;
    #app{
        padding-bottom: 220px;
        min-height: 100vh;
    }
}

footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
.item_top{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px;
    color: #454545;
}
.wrapper_item ul {
    padding-left: 0;
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            line-height: 20px;
            padding: 0 0 8px;
            color: #666;
            display: block;
        }
    }
}
}
.navbar{
    .container{
        font-size: 16px;
        .navbar-brand{
            img{
                width: 150px;
            }
        }
        .navbar-collapse{
            flex-grow: 0;
        }
        .button_catalog{
            padding: 8px 15px 8px 15px;
            height: 44px;
            margin: 0;
            background-color: #b4b7cd;
            border-radius: 7px;
            border: solid transparent;
            cursor: pointer;
            display: flex;
            font-weight: 600;
            font-size: 16px;
            width: 130px;
            justify-content: space-around;
            margin-right: 10px;
        }
        .wrapper_search_block_desktop{
            display: flex;
            width: 50vw;
            justify-content: center;
            .wrapper_search{
                display: flex;
                width: 70%;
                #header-search{
                    font-size: 16px;
                    border: 2px solid #b4b7cd;
                    border-right-width: 0;
                    border-radius: 3px 0 0 3px;
                    background-color: #fff;
                    background-clip: padding-box;
                    padding: 0;
                    line-height: 36px;
                    position: relative;
                    outline: none;
                    padding-left: 5px;
                    width: 80%;
                }
                .button_search{
                    padding: 8px 15px 8px 15px;
                    height: 44px;
                    margin: 0;
                    background-color: #b4b7cd;
                    border: solid transparent;
                    cursor: pointer;
                    display: flex;
                    font-weight: 600;
                    font-size: 16px;
                    justify-content: space-around;
                }
            }
        }
        #cart_block{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            margin-left: 10px;
            p{
                line-height: 15px;
                font-size: 12px;
                transition: color .3s;
                color: #666;
                white-space: nowrap;
                letter-spacing: .25px;
                font-weight: 400;
                margin: 0;
            }
            svg{
                color: #666;
            }
            #count_cart1{
                display: block;
                position: absolute;
                margin-top: -8px;
                margin-left: 15px;
                padding: 0 6px;
                color: #fff;
                background-color: red;
                font-size: 12px;
                border-radius: 20px;
            }
        }
    }
}

.wrapper_goods{
    display: flex;
    flex-wrap: wrap;
    .goods{
        width: 170px;
        margin: 7px;
        .wishlist_icon{
            display: block;
            text-align: end;
        }
        .wrapper_img{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            img{
                width: 170px;
            }
        }
        .price{
            font-size: 18px;
            display: block;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .title{
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #222;
            line-height: 18px;

        }
        .btn_add_to_cart{
            width: 100%;
            margin-top: 10px;
        }
    }
}

.btn_default{

    margin: 0;
    background-color: #b4b7cd;
    border-radius: 7px;
    border: solid transparent;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-around;
}
.cart_item{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ececec;
    .check_cart_item{
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    img{
        margin-right: 10px;
    }
    .column_cart_item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            margin: 0;
        }
        p:nth-of-type(1){
            font-weight: 600;
        }
        .count_cart_item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button, input{
                text-align: center;
                background: none;
                border: none;
                outline:none;
            }
        }
    }
}
.title_cart{
    display: flex;
    align-items: end;
    .small{
        font-size: 0.875em;
        color: #999;
        line-height: 3.3;
        padding-left: 10px;
    }
}
.wrapper_top_item_cart{
    height: 60px;
    margin-top: 9px;
    width: 62.5%;
    display: flex;
    align-items: center;
    .input_block{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 110px;
        margin-right: 25px;
        input{
            height: 20px;
            width: 20px;
        }
    }
}
.flex_block_panel_cart{
    display: flex;
    flex-direction: row;
    .left_panel_cart{
        width: 70%;
    }
    .right_panel_cart{
        width: 30%;
        margin-top: 25px;
        .block_total{
            background-color: #b4b7cd;
            border-radius: 7px;
            margin-top: 15px;
            padding: 10px;
        }
        a.btn_default{
            color: black;
            text-decoration: none;
            padding:10px;
        }
    }
}


@media (max-width: 990px) {
   .wrapper_goods .goods{
        margin: 2px !important;
    }
}

@media (max-width: 767px) {
    .wrapper_goods{
        justify-content: center;
        .goods{
            margin: 10px !important;
        }
    }
    .wrapper_search_block_desktop{
        display: none !important;
    }
}
